<div id="products-component">
  <div class="container">
    <div class="row">
      <div class="col" *ngIf="searchQuery">
        <div class="card-result" *ngFor="let product of listProducts">
          <div class="image-result wrapper-image">
            <a [routerLink]="['/items', product.id]"></a>
            <div class="image-loader"></div>
            <img [src]="product.thumbnail" [alt]="product.title">
          </div><!-- / .image-result -->

          <div class="details-result">
            <div class="item-price">
                <a [routerLink]="['/items', product.id]">${{product.price}}</a>
            </div><!-- / .item-price -->
            <h2 class="entry-title">
              <a [routerLink]="['/items', product.id]">{{product.title}}</a>
            </h2>

            <div class="location">
              {{product.city_name}}
            </div><!-- / .location -->
          </div><!-- / .details-result -->
        </div><!-- / .card-result -->
      </div><!-- / .col -->
    </div><!-- / .row -->
  </div><!-- / .container -->
</div><!-- / #products-component -->