<div id="product" [className]="product ? 'solid' : 'empty'">
    <div class="container">
        <div class="row">
            <div class="col" *ngIf="product">
                <div class="single-result">
                    <div class="main-details">

                        <img class="main-image" [src]="product.pictures[0].secure_url" [alt]="product.title">

                        <div class="product-details">
                            <div class="item-conditions">
                                <span>{{product.sold_quantity}} vendido(s)</span>
                            </div><!-- / .item-conditions -->
    
                            <h1 class="primary-title">
                                {{product.title}}
                            </h1>
    
                            <div class="item-price">
                                ${{product.price}}
                            </div><!-- / .item-price -->
    
                            <div class="main-cta">
                                <a class="button solid" href="#0">Comprar</a>
                            </div><!-- / .main-cta -->
                        </div><!-- / .product-details -->
                    </div><!-- / .main-details -->

                    <div *ngIf="productDescription" class="product-description">
                        <h2>Descripción del producto</h2>
                        <div class="text-description">
                            {{productDescription.plain_text}}
                        </div><!-- / .text-description -->
                    </div><!-- / .product-description -->
                </div><!-- / .single-result -->
            </div><!-- / .col -->

            <div class="col" *ngIf="showError">
                <div class="no-found">
                    <p>Infelizmente o produto não foi encontrado ou já foi comprado.</p>
                    <a [routerLink]="['/']">Ir para página inicial</a>
                </div><!-- / .no-found -->
            </div><!-- / .col -->
            
        </div><!-- / .row -->
    </div><!-- / .container -->
</div><!-- / #products-component -->