// Here we've the main file that will style the application

body {
    font-family: $default_font;
}

// Header styles

header {
    padding: 10px 0;
    background-color: $yellow;
    
    .nav-logo {
        display: block;
        width: 53px;
        height: 36px;
        background-image: url('src/assets/public/img/Logo_ML.png');
        background-size: 100% 100%;
        background-position: center center;
    }
}

// Form header styles

#main-search {
    width: calc(100% - 71px);
    margin-left: 15px;
    input {
        outline: none;
        border: 0;
        height: 40px;
        padding: 15px;
        width: calc(100% - 40px);
        float: left;
        font-size: 1.125rem;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &::-webkit-input-placeholder {
            color: $medium_grey;
        }
        &::-moz-placeholder {
            color: $medium_grey;
        }
        &:-ms-input-placeholder {
            color: $medium_grey;
        }
        &:-moz-placeholder {
            color: $medium_grey;
        }
    }

    button {
        overflow: hidden;
        outline: none;
        border: 0;
        width: 40px;
        height: 40px;
        float: right;
        background-color: $light_grey;
        text-indent: -999px;
        background-image: url('src/assets/public/img/ic_Search.png');
        background-size: 18px 18px;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

// High resolution

@media 
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    header {
        .nav-logo {
        background-image: url('src/assets/public/img/Logo_ML@2x.png');
        }
    }

    #main-search {
        button {
        background-image: url('src/assets/public/img/ic_Search@2x.png');
        }
    }
}

// Results styles

#products-component {
    background-color: $light_grey;
    padding: 16px 0 32px 0;
}

.card-result {
    background-color: #fff;
    padding: 16px 16px 16px 16px;
    overflow: hidden;
    position: relative;
    
    &:not(:last-of-type)::before {
        content: '';
        position: absolute;
        width: calc(100% - 32px);
        left: 16px;
        bottom: 0;
        height: 1px;
        background-color: $light_grey;
        z-index: 9;
    }
    &:first-of-type {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding-top: 32px;
    }

    &:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .image-result {
        width: 180px;
        height: 180px;
        float: left;
        border-radius: 4px;
        position: relative;
        background-color: $light_grey;

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }

    .details-result {
        width: calc(100% - 196px);
        float: right;
        position: relative;
        .item-price {
            margin-bottom: 32px;
            font-size: 1.5rem;
            a {
                text-decoration: none;
                color: $dark_grey;
            }
        }

        h2 {
            margin: 0;
            font-weight: 400;
            font-size: 1.125rem;
            max-width: 50%;
            line-height: 1.5;
            a {
                color: $dark_grey;
                text-decoration: none;
            }
        }

        .location {
            font-size: 0.75rem;
            color: $medium_grey;
            margin-top: 8px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .card-result {
        .image-result {
            width: 115px;
            height: 115px;
        }

        .details-result {
            width: calc(100% - 131px);

            .item-price {
                margin-bottom: 16px;
                font-size: 1.35rem;
            }

            h2 {
                max-width: 100%;
                font-size: 0.93rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .card-result {
        .details-result {
            .location {
                position: absolute;
                right: 120px;
                top: 2px;
                margin-top: 0;
            }
        }
    }
}

// Single product page
#product {
    &.solid {
        background-color: $light_grey;
        padding: 16px 0 32px 0;
    }
}

.single-result {
    background-color: #fff;
    border-radius: 4px;
    padding: 32px;
    .main-details {
        overflow: hidden;
        color: $dark_grey;
    }

    .item-conditions {
        font-size: 0.75rem;
    }

    .item-price {
        font-size: 2.875rem;
        font-weight: 300;
    }

    .button {
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 4px;
        background-color: $blue;
        color: #fff;
        text-decoration: none;
        margin-top: 32px;
    }
}

.primary-title {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 16px;
    margin-bottom: 32px;
}

.product-description {
    margin-top: 32px;
    h2 {
        font-weight: 400;
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 32px;
    }

    .text-description {
        color: $medium_grey;
        line-height: 1.4;
        max-width: 680px;
    }
}

@media only screen and (max-width: 991px) {
    .main-image {
        width: 100%;
        margin-bottom: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .single-result {
        .button {
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            &:hover {
                background-color: darken($blue, 10%);
            }
        }
    }

    .main-image {
        width: 680px;
        float: left;
        height: auto;
    }

    .product-details {
        width: calc(100% - 696px);
        float: right;
    }

    .primary-title {
        max-width: 300px;
    }
}

.no-found {
    padding: 65px 0;
    text-align: center;
    line-height: 1.3;
    p {
        max-width: 350px;
        margin: 0 auto 16px auto;
        color: $medium_grey;
    }
}