.wrapper-image {
    object-fit: cover;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    from {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.image-loader {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    border: 2px solid $blue;
    border-top-color: transparent;
    border-radius: 100%;
    -webkit-animation: rotate 0.6s linear infinite;
    -moz-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
}