// Application colors

$yellow: #FFE600;
$dark_grey: #333333;
$medium_grey: #999999;
$light_grey: #EEEEEE;
$blue: #3483FA;

// Application fonts

$default_font: 'proxima-nova', Helvetica, Arial, sans-serif;