<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-inner d-flex flex-row flex-wrap align-items-center">
          <a href="/" class="nav-logo"></a>
          <form id="main-search" [formGroup]="form" (ngSubmit)="doSearch($event)">
            <input (input)="setQuery($event)" placeholder="Nunca dejes de buscar" formControlName="search_keywords" id="search_keywords">
            <button>Buscar</button>
          </form>
        </div><!-- /.header-inner -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</header>

<div *ngIf="listProducts">
  <div *ngFor="let product of listProducts">

  </div>
</div>


